*.o
.deps
.libs
Makefile
Makefile.in

/ABOUT-NLS
/INSTALL
/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.rpath
/config.status
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/missing
/mkinstalldirs
/stamp-h1

/mt/libtool.m4
/m4/lt*

/pinot.spec
/src/pinot

todo.txt
